site_name: IWMI projects
site_description: A IWMI website for using mkdocs
site_author: IWMI
site_url: https://github.com/iwmihq/iwmi-water-data-science

repo_url: https://github.com/iwmihq/iwmi-water-data-science

copyright: "Copyright &copy; 2022 - 2025 IWMI"

theme:
  palette:
    - scheme: default
      #   primary: blue
      #   accent: indigo
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  name: material
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.instant
    - search.highlight
  custom_dir: "docs/overrides"
  font:
    text: Google Sans
    code: Regular

plugins:
  - search
  - mkdocstrings
  - git-revision-date
  - mkdocs-jupyter:
      include_source: True
      ignore_h1_titles: True
      execute: True
      allow_errors: false
      ignore: ["name.ipynb"]
      execute_ignore: ["path/*.ipynb"]

markdown_extensions:
  - attr_list
  - toc:
      permalink: true

# extra:
#   analytics:
#     provider: google
#     property: G-XXX

nav:
  - Home: index.md
  - Notebook:
      - template.ipynb
  - Datasets:
    - 'Name of project':
        - 'colorbar': 'Datasets/Name of project/colorbar.ipynb'
        - 'intro': 'Datasets/Name of project/intro.ipynb'
  - Google earth engine:
    - 'Name of project':
        - 'colorbar': 'Google earth engine/Name of project/colorbar.ipynb'
        - 'heatmap': 'Google earth engine/Name of project/heatmap.ipynb'
  - Models:
    - 'Name of project':
        - 'colorbar': 'Pre-trained models/Name of project/colorbar.ipynb'
        - 'heatmap': 'Pre-trained models/Name of project/heatmap.ipynb'
  - Python:
    - 'Name of project':
        - 'colorbar': 'Python/Name of project/colorbar.ipynb'
        - 'heatmap': 'Python/Name of project/heatmap.ipynb'

  - YouTube Channel: https://www.youtube.com/@iwmi
  - Report Issues: https://github.com/iwmihq/iwmi-water-data-science/issues
